
/* Reset dasar */
body {
  margin: 0;
  font-family: sans-serif;
}

/* Sidebar styling */
.sidebar {
  background-color: #131420;
  color: white;
  width: 70px;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
  margin-top: 10px;
}

.sidebar li {
  padding: 10px;
  border-bottom: 1px solid #3d3d3d;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sidebar li a {
  color: white;
  text-decoration: none;
  display: inline-block;
  width: 100%;
  height: 100%;
  padding: 10px;
  box-sizing: border-box;
}

.sidebar li.active a {
  border-radius: 5px;
  background-color: #1C2263;
}

.sidebar li a:hover {
  transform: translateY(-2px);
}

.sidebar .logo {
  width: 33px;
  height: auto;
  display: block;
  margin: 10px auto;
}

.sidebar .logo-separator {
  width: 100%;
  height: 1px;
  background-color: #ccc;
  margin: 10px auto;
}

/* Header styling */
.header {
  position: fixed;
  width: 100%; /* Membuat header full-width */
  background-color: #e8f1f5;
  height: 40px;
  padding: 10px;
  display: flex;
  font-size: 10px;
  align-items: center;
  justify-content: space-between; /* Agar konten di dalamnya terpisah */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  z-index: 1000; /* Memastikan header berada di depan konten lainnya */
}


/* Content area */
.content {
  padding-left: 70px;
}

.footer {
  background-color: #1C204A;  /* Warna latar belakang */
  color: white;               /* Warna teks */
  display: flex;              /* Menggunakan Flexbox untuk penyusunan */
  align-items: center;        /* Menyelaraskan konten secara vertikal */
  justify-content: space-between; /* Menyelaraskan konten di kedua sisi */
  padding: 20px 40px;         /* Jarak di dalam footer */
  font-size: 0.9rem;          /* Ukuran teks */
  box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1); /* Menambahkan bayangan halus di atas */
  position: relative;
  bottom: 0;
  width: 100%;
  box-sizing: border-box;     /* Memastikan padding tidak mempengaruhi lebar */
}

.footer p {
  margin: 0;                 /* Menghilangkan margin default pada paragraf */
}

.footer-logo {
  height: 40px;              /* Sesuaikan tinggi logo */
  object-fit: contain;       /* Menjaga aspek rasio logo */
  margin-left: 15px;         /* Jarak antara teks dan logo */
}
