/* Home Page Specific Styles */

body {
    margin: 0;
    font-family: sans-serif;
    position: relative;
    min-height: 100vh;
    overflow-x: hidden;
  }
  
  


/* Kontainer Utama */
.dashboard-container {
  font-size: larger;
  display: flex;
  padding-top: 65px;
  padding-bottom: 65px;
  padding-right: 30px;
  padding-left: 30px;
  align-items: center;       /* Menyelaraskan konten secara vertikal di tengah */
  justify-content: space-between; /* Menyusun konten di kedua sisi (kiri dan kanan) */
  background-color: #1C204A;    /* Warna latar belakang biru */
  width: 100%;               /* Memastikan lebar elemen 100% dari viewport */
  box-sizing: border-box;    /* Memastikan padding tidak menambah lebar total */
  color: white;             /* Warna teks putih untuk kontras */     /* Jarak antara gambar dan teks */
}

/* Styling untuk Logo */
.dashboard-container .logo-disciplink {
  margin-right: 30px;
  width: 250px;             /* Menyesuaikan lebar gambar secara otomatis */
  height: auto;            /* Menjaga rasio aspek gambar */
  padding-right: 30px;
  border-right: 2px solid white;
}


  .judul {
    display: flex;                     
    flex-direction: column;             
    justify-content: center;                       
    text-align: center;                 
    height: 60vh;                           
    padding: 20px;                    
  }

  .judul::before {
    content: '';                      /* Membuat elemen pseudo */
    position: absolute;                /* Menempatkan elemen pseudo di atas kontainer */
    top: 0;
    left: 0;
    width: 100%;
    height: 80%;
    background-image: url(../img/GRAHA-POLINEMA1-slider-01.webp); /* Ganti dengan path gambar Anda */
    background-size: cover;           /* Memastikan gambar menutupi seluruh elemen */
    background-position: center;      /* Menyusun gambar agar berada di tengah */
    opacity: 0.4;                     /* Menurunkan opasitas gambar */
    z-index: -1;                      /* Menempatkan overlay di belakang konten */
  }
  
  .judul h2 {
    font-family: 'Italiana', serif;
    font-size: 78px;
    margin: 0;                          /* Menghapus margin default pada h2 */
  }
  
  .judul p {
    font-family:serif;
    font-size: 18px;
    margin-top: 20px;                   /* Memberikan jarak antara h2 dan p */
  }
  .news h2{
    font-size: 30px;
    margin-top: 40px;
    display: flex;
    justify-content: center;
    font-family: 'Italiana';
  }

  