body {
    margin: 0;
    font-family: sans-serif;
  }

  .sidebar {
    background-color: #131420;
    color: white;
    width: 70px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
  }

  .sidebar ul {
    list-style-type: none;
    padding: 0;
    margin-top: 10px;
  }

  .sidebar li {
      padding: 10px; /* Tambahkan padding agar kotaknya lebih besar dari ikon */
border-bottom: 1px solid #3d3d3d;
text-align: center;
position: relative;
display: flex; /* Atur sebagai flexbox untuk memudahkan penyesuaian */
justify-content: center;
align-items: center;
}

.sidebar li.active a {
border-radius: 5px; /* Untuk sudut yang membulat pada kotak */
background-color: #1C2263; /* Biru muda untuk aktif */
}
.sidebar li a {
color: white;
text-decoration: none;
display: inline-block;
width: 100%;
height: 100%;
padding: 10px;
box-sizing: border-box;
}

.sidebar li.active a {

border-radius: 5px; /* Untuk sudut yang membulat pada kotak */
background-color: #1C2263; /* Biru muda untuk aktif */
}



  .sidebar .logo {
width: 40px;    /* Atur ukuran lebar logo */
height: auto;   /* Menjaga rasio aspek logo */
display: block; /* Menampilkan logo sebagai elemen blok */
margin: 10px auto; /* Memberikan margin untuk penempatan tengah */
padding-bottom: 5px;
}

.sidebar .logo-separator {
width: 100%; /* Atur panjang garis pemisah (60% dari lebar sidebar) */
height: 1px; /* Ketebalan garis */
background-color: #ccc; /* Warna garis */
margin: 10px auto; /* Pusatkan garis di bawah logo */
}



  .content {
    margin-left: 70px;
    padding: 20px;
  }

  .header {
    background-color: #e8f1f5;
    height: 50px;
    margin-left: -25px;
    margin-top: -25px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .hidden {
    display: none;
  }

  /* Styling for the forms and tables */
  .form-container, .detail-container {
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
  }

  .form-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
  }

  .form-input {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

  .form-button, .button-edit, .button-delete {
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: white;
  }

  .form-button, .button-edit {
    background-color: #001f3f;
  }

  .button-delete {
    background-color: #ff0000;
  }

  .form-button:hover, .button-edit:hover {
    background-color: #2d3e50;
  }

  .button-delete:hover {
    background-color: #ff3333;
  }

  table {
    border-collapse: collapse;
    width: 100%;
  }

  th, td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: left;
  }

  th {
    background-color: #f0f0f0;
  }